.homeScreen{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.stickyContainer{
    height: 100%;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    position: sticky;

}